<div class="content">
	<h4 class="message">
		{{message}}
	</h4>
	<br/>

	<button type="button" class="btn btn-primary add-btn" id="J-addBtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  添加</button>

	<div class="list-container">
    	{{> list}}
	</div>
</div>
<div id="J-addModal">
	<div class="add-modal">
		<div class="page-header">
		  	<h3>添加伙伴</h3>
		</div>
		<div class="input-group hide">
		  	<!-- <span class="input-group-addon" id="basic-addon1">姓名：</span> -->
		  	<input type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1" id="J-id" value={{id}}>
		</div>

		<div class="input-group">
		  	<!-- <span class="input-group-addon" id="basic-addon1">姓名：</span> -->
		  	<input type="text" class="form-control" placeholder="姓名" aria-describedby="basic-addon1" id="J-userName">
		</div>
		<div class="input-group">
		  	<input type="text" class="form-control" placeholder="年龄" aria-describedby="basic-addon1" id="J-age">
		</div>
		<div class="input-group">
		  	<input type="text" class="form-control" placeholder="梦想" aria-describedby="basic-addon1" id="J-dream">
		</div>
		<div class="modal-btns">
			<button type="button" class="btn btn-primary add-btn" id="J-save">确认</button>
			<button type="button" class="btn btn-default add-btn" id="J-cancel">取消</button>
		</div>

	</div>
	<div class="cover-main"></div>

</div> 